.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home-item-container {
  height: 90vh;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(255, 253, 253);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.head {
  font-size: 36px;
  margin-bottom: 0px;
  font-family: Roboto;
}
.pera {
  font-size: 26px;
  color: gray;
  font-family: Roboto;
  text-align: center;
}
.create-button {
  display: flex;
  flex-direction: column;
  align-item: center;
  justify-content: center;
  height: 50px;
  border: 0px;
  outline: none;
  background: linear-gradient(to right, #5d3fd3, #feb47b);
  color: white;
  border-radius: 6px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Roboto;
  text-align: center;
  width: 70vh;
}

.login-button {
  height: 50px;
  border: 0px;
  outline: none;
  background-color: rgb(240, 217, 240);
  border-radius: 6px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Roboto;
  text-align: center;
  width: 70vh;
}

.create-button:hover {
  transition: 1s;
  transform: scale(1.1);
}
.login-button:hover {
  transition: 1s;
  transform: scale(1.1);
}
