.newuser-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}
.newuser-item-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  width: 450px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
.newuser-input-group {
  position: relative;
  margin: 20px 0;
}
.span {
  color: red;
  font-weight: bold;
}
.newuser-input-group label {
  position: absolute;
  top: -10px;
  left: 15px;
  padding-left: 1px;
  padding-right: 1px;
}
.newuser-label {
  color: #5d3fd3;
  background-color: white;
  font-family: Roboto;
}
.newuser-input {
  height: 46px;
  width: 55vh;
  border-radius: 7px;
  border: 0pc;
  outline: none;
  border: 1px solid gray;
  padding-left: 10px;
  font-family: Roboto;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.newuser-input:hover {
  transform: scale(1.1);
  transition: 1s;
  border: 1px solid #5d3fd3;
}
.newuser-input:focus {
  border: 2px solid #5d3fd3;
}
.create-new-acount-button {
  height: 46px;
  width: 100%;
  background-color: #5d3fd3;
  color: white;
  border: 0px;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.create-new-acount-button-desable {
  cursor: not-allowed;
  height: 46px;
  width: 82%;
  background-color: gray;
  color: white;
  border: 0px;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
.create-new-acount-button-desable:hover {
  transform: scale(1.1);
  transition: 1s;
}

.create-new-acount-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.radio-input-container {
  margin-bottom: 20px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  margin-left: 100px;
}
